{% extends "web/layout.html" %}
{% set active_section = "user" %}
{% block title %}入职新用户{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
      <li><a href="{{ url_for('admin.list_users') }}"> 所有用户</a></li>
      <li class="active"> 入职新用户</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<section class="panel b-a">
  <header class="panel-heading b-b">详细内容</header>
  <form class="form-horizontal" action="{{ url_for('admin.add_user') }}" method="post" data-validate="parsley" id="submitForm">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-2 control-label">中文名</label>
        <div class="col-md-8">
          <input name="displayName" class="form-control" data-required="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">姓（英文）</label>
        <div class="col-md-8">
          <input name="sn" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">名（英文）</label>
        <div class="col-md-8">
          <input name="givenName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">uid</label>
        <div class="col-md-8">
          <input name="uid" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">mail</label>
        <div class="col-md-8">
          <input name="mail" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">密码</label>
        <div class="col-md-8">
          <input name="password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">部门</label>
        <div class="col-md-8">
          <select name="org" class="form-control">
            {% for org in orgs %}
            <option value="{{ org.ou }}">{{ org.ou }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="text-right lter">
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </footer>
  </form>
</section>
{% endblock %}

{% block foot_content %}
<script src="/js/parsley/parsley.min.js"></script>
<script src="/js/parsley/parsley.extend.js"></script>
{% endblock %}
