{% extends "admin/layout.html" %}
{% set active_section = "user" %}
{% block title %}更新用户{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
<div class="m-b-md">
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
      <li><a href="{{ url_for('admin.list_users') }}"> 所有用户</a></li>
      <li class="active"> 更新用户 ({{ user.uid }})</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<section class="panel b-a">
  <header class="panel-heading b-b">详细内容</header>
</section>

<section class="panel b-a">
  <header class="panel-heading b-b">修改组</header>
  <form class="form-horizontal" action="{{ url_for('admin.update_user_group', uid=user.uid) }}" method="post" data-validate="parsley" id="submitForm">
    <div class="panel-body">
    {% for group_row in groups|slice(2) %}
    <div class="col-md-6">
      {% for group in group_row %}
        <div class="checkbox i-checks">
          <label>
            <input name="value" type="checkbox" value="{{ group.cn }}" {% if group.in_group %}checked{% endif %}>
            <i></i>
            {{ group.cn }}{% if group.name %} ({{ group.name }}){% endif %}
          </label>
        </div>
      {% endfor %}
    </div>
    {% endfor %}

    </div>
    <footer class="panel-footer">
      <div class="text-right lter">
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </footer>
  </form>
</section>

<section class="panel b-a">
  <header class="panel-heading b-b">修改部门</header>
  <form class="form-horizontal" action="{{ url_for('admin.update_user_org', uid=user.uid) }}" method="post" data-validate="parsley" id="submitForm">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">部门</label>
          <div class="col-md-8">
            <select name="org" class="form-control">
            {% for org in orgs %}
            <option value="{{ org.ou }}" {% if org.ou == user.ou %}selected="selected"{% endif %}>{{ org.name }} ({{ org.ou }})</option>
            {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="text-right lter">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </footer>
    </form>
</section>

<section class="panel b-a">
  <header class="panel-heading b-b">修改密码</header>
  <form class="form-horizontal" action="{{ url_for('admin.update_user_password', uid=user.uid) }}" method="post" data-validate="parsley" id="submitForm">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">新密码</label>
          <div class="col-md-8">
            <input name="password" class="form-control" data-required="true">
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="text-right lter">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </footer>
    </form>
</section>

<section class="panel b-a">
  <header class="panel-heading b-b">用户离职</header>
  <div class="panel-body">
    标记离职的用户无法恢复之前的权限。
  </div>
  <footer class="panel-footer">
    <div class="text-right lter">
      <form class="form-horizontal" action="{{ url_for('admin.archive_user', uid=uid) }}" method="post" data-validate="parsley">
      <button onclick="return confirm('确定离职?')" type="submit" class="btn btn-info">确定离职</button>
      </form>
    </div>
  </footer>
</section>

<section class="panel panel-danger">
  <header class="panel-heading b-b">危险区域</header>
    <div class="panel-body">
      删除的用户永远无法恢复，仅在错误添加时才可以删除。
    </div>
    <footer class="panel-footer">
      <div class="text-right lter">
        <form class="form-horizontal" action="{{ url_for('admin.delete_user', uid=uid) }}" method="post" data-validate="parsley">
        <button onclick="return confirm('确定删除?')" type="submit" class="btn btn-danger">删除</button>
        </form>
      </div>
    </footer>
</section>
{% endblock %}

{% block foot_content %}
<script src="/js/parsley/parsley.min.js"></script>
<script src="/js/parsley/parsley.extend.js"></script>
{% endblock %}
