{% extends "web/layout.html" %}
{% set active_section = "dashboard" %}
{% block title %}管理中心{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
<div class="m-b-md">
  <h1 class="m-b-none">管理中心</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <section class="panel b-a">
      <header class="panel-heading b-b">我的信息</header>
      <div class="panel-body">
        <p>姓名：{{ user.displayName }}</p>
        <p>企业邮箱：{{ user.mail }}</p>
        <p>登陆ID：{{ user.uid }}</p>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="panel b-a">
      <header class="panel-heading b-b">我有权限的后台</header>
      <div class="panel-body">
        {% for group in groups %}
          {% if group.url %}
          <p><a target="_blank" href="{{ group.url }}">{{ group.name }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
</div>

{% endblock %}
