{% extends "web/layout.html" %}
{% set active_section = "password" %}
{% block title %}修改密码{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
<div class="m-b-md">
  <h1 class="m-b-none">修改密码</h1>
</div>
{% endblock %}

{% block content %}
<section class="panel b-a">
  <header class="panel-heading b-b">修改企业账户密码</header>
  <form class="form-horizontal" action="{{ url_for('web.update_password') }}" method="post" data-validate="parsley" id="submitForm">
      <div class="panel-body">
        <p class="text-muted">企业账户用户登录公司各类后台，对用你的账户 {{ user.uid }} 的密码。</p>
        <div class="form-group">
          <label class="col-md-2 control-label">新密码</label>
          <div class="col-md-8">
            <input name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,32}$" class="form-control" data-required="true">
            <p>密码长度大于8，必须包含大小写字母+数字。</p>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="text-right lter">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </footer>
    </form>
</section>

<section class="panel b-a">
  <header class="panel-heading b-b">修改企业邮箱密码</header>
  <form class="form-horizontal" action="{{ url_for('web.update_exmail_password') }}" method="post" data-validate="parsley" id="submitForm">
      <div class="panel-body">
        <p class="text-muted">企业邮箱是你腾讯企业邮箱的密码，对应你的账户 {{ user.mail }}</p>
        <div class="form-group">
          <label class="col-md-2 control-label">新密码</label>
          <div class="col-md-8">
            <input name="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,32}$" data-required="true">
            <p>密码长度大于8，必须包含大小写字母+数字。</p>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="text-right lter">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </footer>
    </form>
</section>
{% endblock %}

{% block foot_content %}
<script src="/js/parsley/parsley.min.js"></script>
<script src="/js/parsley/parsley.extend.js"></script>
{% endblock %}
