{% extends "web/layout.html" %}
{% set active_section = "password" %}
{% block title %}修改密码{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
<div class="m-b-md">
  <h1 class="m-b-none">修改密码</h1>
</div>
{% endblock %}

{% block content %}
<section class="panel b-a">
  <header class="panel-heading b-b">修改密码</header>
  <form class="form-horizontal" action="{{ url_for('web.update_password') }}" method="post" data-validate="parsley" id="submitForm">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">新密码</label>
          <div class="col-md-8">
            <input name="password" class="form-control" data-required="true">
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="text-right lter">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </footer>
    </form>
</section>
{% endblock %}

{% block foot_content %}
<script src="/js/parsley/parsley.min.js"></script>
<script src="/js/parsley/parsley.extend.js"></script>
{% endblock %}
