{% extends "admin/layout.html" %}
{% set active_section = "group" %}
{% block title %}所有分组{% endblock %}

{% block head_content %}
{% endblock %}

{% block breadcrumb %}
<div class="m-b-md">
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
      <li class="active"> 所有分组</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<section class="panel b-a">
  <header class="panel-heading b-b">分组列表</header>
<!--   <div class="panel-body">
  </div> -->
  <table class="table m-b-none">
    <thead>
      <tr>
        <th>分组名</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.cn }}</td>
        <td>
          <a class="btn btn-xs btn-primary" href="{{ url_for('admin.list_users') }}?group={{ group.cn }}">组内用户</a>
        </td>
      </tr>
      {% else %}
        <td>还没有分组~</td>
      {% endfor %}
    </tbody>
  </table>
{#   <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-12 text-right text-center-xs">
      {% include 'pagination.html' %}
      </div>
    </div>
  </footer> #}
</section>
{% endblock %}
